<div class="row">
    {{#each notes}}
        <div class="col-md-3">
            <div class="card mb-3 animate__animated animate__fadeInDownBig">
                <!--
                <div class="card-header">
                {{user.firstname}}
                </div>-->
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-between align-items-center">
                        {{title}} 
                        <a href="/notesA/editA/{{_id}}"><i class="fas fa-edit"></i></a>
                    </h4>
                    <p>{{description}}</p>
                    <label for="name">Status: </label> {{status}}
                    <br>
                    <label for="name">Solution: </label> {{solution}}
                    <!--<br>
                    <p class="card-text"></p>-->
                    <br>
                    <p class="card-text">{{timeago date}}</p>
                    {{!-- <br> <br>
                    <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger btn-block btn-sm" type="submit">Delete</button>
                    </form>
                    <br> --}}
                </div>
            </div>
        </div>
    
    {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <h1>Hello {{user.firstname}}</h1>
                <p class="lead"> No hay reclamos pendientes.</p>
                <a href="/notes/add" class="btn btn-success btn-block">Create one!</a>
            </div>
        </div>
    {{/each}}
</div>